<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.persistence.impl.mappers.EpsMapper">
    
    <select parameterType="map" id="loadAllEPS" resultMap="eps_consul">
        select
        nombre AS eps_nombre,
        nit
        FROM CM_EPS
    </select>
    <resultMap type="Eps" id="eps_consul" >            
        <id property="nit" column="nit"/>
        <result property="nombre" column="eps_nombre"/>       
    </resultMap>
        
  
</mapper>